.admin-con {
    background-color: #e0e0e0;
    border-radius: 8px; 
    height: 94vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;


    &-content {
        display: flex;
        gap: 15px;
        flex-grow: 1;
        height: calc(100% - 85px);

        .dyn-cmp {
            padding: 20px;
        }
    }
}


@media (max-width: 768px) {
    
    .admin-con {
        height: 100vh;
        border-radius: 0px;
        padding: 5px;
        &-content {
            flex-direction: column;

            .dyn-cmp {
                padding: 5px;
            }
        }
    }
}
