.admin-con {
    background-color: #e0e0e0;
    border-radius: 8px; 
    height: 90vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;


    &-content {
        display: flex;
        gap: 15px;
        flex-grow: 1;
        height: calc(100% - 85px);

        .dyn-cmp {
            padding: 20px;
        }
    }
}

