.coupon-list {
    padding: 20px;
    
    ul {
        all: unset;
        display: flex;
        flex-wrap: wrap;
        gap: 24px; 
        padding: 16px; 
        justify-content: center;
        align-items: flex-start;
        
        .coupon-card {
            background: #ffffff;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 220px;
            padding: 16px;
            display: flex;
            flex-direction: column;
            position: relative;
            height: 320px;

            .coupon-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .coupon-code {
                    font-size: 20px;
                    font-weight: 700;
                    color: #333;
                    margin: 0;
                }

                .coupon-discount {
                    font-size: 18px; 
                    font-weight: 600;
                    color: #0078d4;
                }
            }

            .coupon-body {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                .coupon-desc{
                    font-size: 16px; 
                    color: #555;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap 
                }

                .coupon-expires,
                .coupon-usage,
                .coupon-created-by  {
                    font-size: 14px; 
                    color: #777;
                    margin: 4px 0; 
                }
            }

            .coupon-badge {
                background-color: #0078d4;
                color: #fff;
                font-size: 12px; 
                font-weight: 600;
                padding: 3px 8px; 
                width: max-content;
                border-radius: 4px;
                text-transform: uppercase;
            }

            .delete-btn, .edit-btn {
                margin-top: 12px;
                color: #313131;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
        }
    }
}